

body{
    background-color: #eee!important;
}
.parent div {
    width: 654px;
}
.parent div p {
    margin-bottom: 40px;
    margin-top: 7px;
    font-size: 17px;
    color: #6a6767;
}
.parent div p::before {
    content: '>';
    margin-right: 3px;
    font-size: 18px;
    font-weight: 800;
    color: #000;
}
.container{
    margin-top: 60px;
}